In [24]:
tuple1 = ("seg", "ter", "quar")
print (tuple1)
print ("Size:", len(tuple1))

('seg', 'ter', 'quar')
Size: 3

In [25]:
list1 = [1, 2, "tres", "Tres", "Dois", tuple1, 1]
print (list1)
print ("Total list size is:", len(list1))

[1, 2, 'tres', 'Tres', 'Dois', ('seg', 'ter', 'quar'), 1]
Total list size is: 7

In [47]:
print("Primeiro elemento na list1: ", list1[0])
print (list1)
list1[4]
print ("Size of the tuple:", len(list1[5]))

Primeiro elemento na list1:  1
[1, 2, 'tres', 'Tres', 'Dois', ('seg', 'ter', 'quar'), 1]
Size of the tuple: 3

In [42]:
list2 = list(list1[5])
print (list2)
list2.sort()
print (list2)
list2.reverse()
print (list2)
print (min(list2))
print (max(list2))

['seg', 'ter', 'quar']
['quar', 'seg', 'ter']
['ter', 'seg', 'quar']
quar
ter

In [46]:
print (list1)
print (list2)
list3 = list1 + list2
list3

[1, 2, 'tres', 'Tres', 'Dois', ('seg', 'ter', 'quar'), 1]
['ter', 'seg', 'quar']

[1, 2, 'tres', 'Tres', 'Dois', ('seg', 'ter', 'quar'), 1, 'ter', 'seg', 'quar']